.bundle
db/*.sqlite3
db/*.db
log/*
!log/.gitkeep
tmp/*
!tmp/.gitkeep
.sass-cache/
coverage/
public/assets*
options-local.yml
hydra.yml
config/ssl/ventus*
config/ssl/ignis*
doc/app
nbproject
locale/*/LC_MESSAGES
tmp.pot
.rails_footnotes
vendor/bundle/
